body,
table,
tr,
td {
    font-family: Sans-Serif, 'Arial Narrow', 'Franklin Gothic Medium', Arial;
}
td { padding-bottom: 12px; }
.content { margin-top: 12px; }
small { color:gray; }
small a { color: green !important; }